<template>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="card">

                    <div class="card-header">Choose Date</div>

                    <div class="card-body">

                        <form @submit="formSubmit">

                            <div class="form-group">
                                <input type="date" class="form-control"  v-model="start_date" required/>
                            </div>

                            <div class="form-group">
                                <input type="date" class="form-control"  v-model="end_date" required/>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success float-right">Submit</button>
                            </div>

                        </form>
                        
                        <div id="chartdiv"></div>

                    </div>

                </div>

            </div>

        </div>
        
    </div>

</template>

 

<script>

    export default {

        mounted() {

            console.log('Component mounted.')

        },

        data() {

            return {

              name: '',

              description: '',

              start_date:'',

              end_date:'',

              output: ''

            };

        },

        methods: {

            formSubmit(e) {

                e.preventDefault();

                let currentObj = this;

                axios.post('/formSubmit', {

                    start_date: this.start_date,

                    end_date: this.end_date

                })

                .then(function (response) {

                    currentObj.output = response.data;
                    barchart(currentObj.output);

                })

                .catch(function (error) {

                    currentObj.output = error;

                });

            }
            

        }

    }

function barchart(response){
    
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);

// Add data
chart.data = response;

// Create axes

var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "date";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.minGridDistance = 30;

categoryAxis.renderer.labels.template.adapter.add("dy", function(dy, target) {
  if (target.dataItem && target.dataItem.index & 2 == 2) {
    return dy + 25;
  }
  return dy;
});

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.valueY = "count";
series.dataFields.categoryX = "date";
series.name = "Visits";
series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/]";
series.columns.template.fillOpacity = .8;

var columnTemplate = series.columns.template;
columnTemplate.strokeWidth = 2;
columnTemplate.strokeOpacity = 1;

}); // end am4core.ready()
}

</script>


